<li class="itemCard">
    <a href="/catalog/{{id}}" class="item">
        <div class="img-box">
            <img src={{imgURL}} alt={{name}}>
        </div>
        <div class="info-box">
            <p class="info">{{name}} - {{price}}&euro;</p>
            <p class="info">{{category}}</p>
        </div>    
    </a>
</li>